<%= form_with(model: grocerylist, local: true) do |form| %>
  <% if grocerylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grocerylist.errors.count, "error") %> prohibited this grocerylist from being saved:</h2>

      <ul>
      <% grocerylist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :grocerylist_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :grocerylist_price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :grocerylist_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
