<p id="notice"><%= notice %></p>

<h1>Grocery List</h1>

<h3>Current Grocery List</h3>

<table>
  <thead>
    <tr>
      <th>Name &nbsp</th>
      <th>Price &nbsp</th>
      <th>Quantity &nbsp</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @grocerylists.each do |grocerylist| %>
      <tr>
        <td><%= grocerylist.name %> &nbsp</td>
        <td><%= grocerylist.price %> &nbsp </td>
        <td><%= grocerylist.quantity %> &nbsp </td>
        <td><%= link_to 'Show', grocerylist %> &nbsp</td>
        <td><%= link_to 'Edit', edit_grocery_list_path(grocerylist) %> &nbsp </td>
        <td><%= link_to 'Remove', grocerylist, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp </td>
        <td><%= link_to 'Bought', bought_grocery_lists_path %> &nbsp </td>
      </tr>
    <% end %>

  </tbody>
</table>

<br/>

<%= link_to 'New Item', new_grocery_list_path %>

<br/>
<br/>
<br/>

<h3>Most Commonly Bought Goods</h3>

<table>
  <thead>
    <tr>
      <th>Name &nbsp</th>
      <th>Price &nbsp</th>
      <th>times Bought &nbsp</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
    <% @commonlybought.each do |commonlybought| %>
          <tr>
            <td><%= commonlybought.name %> &nbsp </td>
            <td><%= commonlybought.price %> &nbsp</td>
            <td><%= commonlybought.timesBought %> &nbsp </td>
            <td><%= link_to 'Show', commonlybought %> &nbsp </td>
          </tr>
    <% end %>
  </tbody>
</table>

<br>


