<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grocerylist.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @grocerylist.price %>
</p>

<p>
  <strong>Home ID:</strong>
  <%= @grocerylist.homes_id %>
</p>

<%= link_to 'Edit', edit_grocery_list_path(@grocerylist) %> |
<%= link_to 'Back', grocery_list_path %>
