<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grocerylist.name %>
</p>

&nbsp

<p>
  <strong>Price:</strong>
  <%= @grocerylist.price %>
</p>

&nbsp

<p>
  <strong>Quantity: </strong>
  <%= @grocerylist.quantity %>
</p>

<%= link_to 'Edit', edit_grocery_list_path(@grocerylist) %> |
<%= link_to 'Back', grocery_lists_path %>
