<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this financial record from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :description %>
  </div>

  <div class="field">
    <%= form.label :creationDate %>
    <%= form.date_field :creationDate, id: :creationDate %>
  </div>

  <div class="field">
    <%= form.label :eventDate %>
    <%= form.date_field :eventDate, id: :eventDate %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.date_field :user_id, id: :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
