<p id="notice"><%= notice %></p>

<h1>Events</h1>


<h3>Current Balances Owed</h3>

<table>
  <thead>
    <tr>
      <th>name &nbsp</th>
      <th>description &nbsp</th>
      <th>creationDate &nbsp</th>
      <th>eventDate &nbsp</th>
      <th>users_id &nbsp</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.each do |event| %>
      <tr>
        <td><%= event.name %> &nbsp</td>
        <td><%= event.description %> &nbsp</td>
        <td><%= event.creationDate %> &nbsp</td>
        <td><%= event.eventDate %> &nbsp</td>
        <td><%= event.users_id %> &nbsp</td>

        <td><%= link_to 'Show', event %> &nbsp</td>
        <td><%= link_to 'Edit', edit_event_path(event) %> &nbsp</td>
        <td><%= link_to 'Paid', event, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Payment', new_event_path %>


<br>