<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.amount %>
</p>

&nbsp

<p>
  <strong>description:</strong>
  <%= @event.homes_id %>
</p>

&nbsp

<p>
  <strong>creationDate:</strong>
  <%= @event.dateOwed %>
</p>

&nbsp

<p>
  <strong>eventDate:</strong>
  <%= @event.datePaid %>
</p>

&nbsp

<p>
  <strong>user_id : </strong>
  <%= @event.receiverUID %>
</p>


&nbsp


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
