<% provide(:title, @home.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @home.name %>
      </h1>

      <p>
        <strong>Name:</strong>
        <%= @home.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @home.address %>
      </p>

      <%= link_to 'Edit', edit_home_path(@home) %> |
      <%= link_to 'Back', homes_path %>
    </section>

    <P>
      <h3>
        Housemates:
      </h3>
      <h5>
        List of other users who are members of this house.
        This will also have outstanding debts to said users.
        <br>
        <br>
        <%= User.all %>
        <%= link_to("Pay Roomates", '/homes/1') %>
        
      </h5>
    </p>

  </aside>

<P>
  <h3>
    Groceries:
  </h3>
  <h5>
    List of Groceries to get.
  </h5>
</p>

<P>
  <h3>
    Bills and Expenses:
  </h3>
  <h5>
    List of Outstanding expenses.
  </h5>
</p>

<P>
  <h3>
    Chores:
  </h3>
  <h5>
    List of Chores to do here.
  </h5>
</p>

<P>
  <h3>
    Notes:
  </h3>
  <h5>
    Notes here.
  </h5>
</p>
