<%= form_with(model: financialrecord, local: true) do |form| %>
  <% if financialrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financialrecord.errors.count, "error") %> prohibited this financial record from being saved:</h2>

      <ul>
      <% financialrecord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :amount %>
  </div>

  <div class="field">
    <%= form.label :'Date Owed' %>
    <%= form.date_field :dateOwed, id: :dateOwed %>
  </div>

  <div class="field">
    <%= form.label :'Receiver UID' %>
    <%= form.number_field :receiverUID, id: :receiverUID %>
  </div>

  <div class="field">
    <%= form.label :'Reciever SID' %>
    <%= form.number_field :recieverSID, id: :recieverSID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
