<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @financialrecord.amount %>
</p>

&nbsp

<p>
  <strong>Home ID:</strong>
  <%= @financialrecord.homes_id %>
</p>

&nbsp

<p>
  <strong>Date Owed:</strong>
  <%= @financialrecord.dateOwed %>
</p>

&nbsp

<p>
  <strong>Date Paid:</strong>
  <%= @financialrecord.datePaid %>
</p>

&nbsp

<p>
  <strong>Receiver UID: </strong>
  <%= @financialrecord.receiverUID %>
</p>

&nbsp

<p>
  <strong>Reciever SID:</strong>
  <%= @financialrecord.recieverSID %>
</p>

&nbsp

<p>
  <strong>Paid:</strong>
  <%= @financialrecord.paid %>
</p>

&nbsp
<p>
  <strong>User ID:</strong>
  <%= @financialrecord.users_id %>
</p>

&nbsp


<%= link_to 'Edit', edit_financial_record_path(@financialrecord) %> |
<%= link_to 'Back', financial_records_path %>
